<main>
	
   <div class="row">
     <div class="col s12 m4 l3">
        <div class="collection">    	  
 
     	   <a class="collection-item">Button</a>
         <a class="collection-item"><i class="material-icons right">cloud</i>Button</a>
         <a class="collection-item"><i class="material-icons right">cloud</i>Button</a>
        </div>
     </div>
     <div class="col s12 m8 l9">
     	 <div class="hero-unit">
         <h1>'Allo, 'Allo!</h1>
         <p>You now have</p>
         <ul>
           <li>HTML5 Boilerplate</li>
           <li>Modernizr</li>
           <li>jQuery</li>
         </ul>
        </div>

     </div>



   </div>
</main>