<main>
	
   <div class="row">
     <div class="col s12 m4 l3">
        <ul>    	  
 
     	  <li><a class="waves-effect waves-light btn">Button</a></li>
         <li><a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a></li>
         <li><a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a></li>
        </ul>
     </div>
     <div class="col s12 m8 l9">
     	 <div class="hero-unit">
         <h1>'Allo, 'Allo!</h1>
         <p>You now have</p>
         <ul>
           <li>HTML5 Boilerplate</li>
           <li>Modernizr</li>
           <li>jQuery</li>
         </ul>
        </div>

     </div>



   </div>
</main>